/* Responsive CSS Document */


@media (min-width: 992px) {
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}


}
@media (min-width: 1200px) and (max-width: 1550px) {
  .boost-your-phone .boster-image-wrapper {width: 45%;left:0;}
}
@media (max-width: 1199px) {
  .boost-your-phone .boster-image-wrapper {position: relative;width: 100%;left:0;}
  .boost-your-phone .boster-image-wrapper img {margin: 0 auto;}
  .boost-your-phone {margin-bottom: 0;}
  .boost-your-phone .text {padding-top: 0;}
  .boost-your-phone .boster-image-wrapper .ao-annotations span:nth-child(2),
  .boost-your-phone .boster-image-wrapper .ao-annotations span:nth-child(5) {left:0;}
  .boost-your-phone .boster-image-wrapper .ao-annotations span:nth-child(3),
  .boost-your-phone .boster-image-wrapper .ao-annotations span:nth-child(4) {right: 0;}
  .boost-your-phone .boster-image-wrapper .ao-annotations span:nth-child(1) {top:10%;left:40%;}
  .advance-feature {padding-bottom: 130px;}
}
/*(max-width: 1199px)*/

@media (min-width: 992px) and (max-width: 1199px) {
  .advance-feature .feature-text {padding-right: 0;}
  .advance-feature .feature-warpper:before {width: 100%;}
  #theme-main-banner .camera_caption .container .image-wrapper,
  #theme-main-banner.banner-two .camera_caption .container .image-wrapper {top:-110px;}
}
/*(min-width: 992px) and (max-width: 1199px)*/

@media (max-width: 991px) {
  .what-we-do .theme-title-one h2 br {display: none;}
  .advance-feature .feature-text {padding: 100px 0;}
  .html-top-content {margin-bottom: 0;}
}
/*(max-width: 991px)*/

@media (max-width: 650px) {
  #success, #error {
    width: 84%;
    height: auto;
    top: calc(50% - 50px);
    left: 8%;
    padding: 30px 10px;
    margin:0;
  }
  .our-blog {padding: 0 15px;}
  
}
@media (max-width: 600px) {
  .what-we-do .single-block {margin-top: 30px;}
  #theme-main-banner .camera_caption .container h1 br,#theme-main-banner .camera_caption .container p br {display: none;}
}
@media (max-width: 550px) {
  .theme-title-one h2 {font-size: 34px;line-height: 48px;}
}
@media (max-width: 500px) {
  .boost-your-phone .boster-image-wrapper .ao-annotations {padding-top: 40px;}
  .boost-your-phone .boster-image-wrapper .ao-annotations span {position: static;display: inline-block;margin: 10px 0;}
  .advance-feature .feature-warpper .col-xs-6 {width: 100%;}
  .advance-feature .feature-warpper .single-feature.m-fix {margin-top: 0;}
}